.hero-sec{
    /* background-color: black; */
    height: 43.5rem;
    width: 100%;
    background-image: url('../images/bg-7.webp');
    background-size: 100% 100%;
    animation: swipper 20s infinite linear;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    /* position: relative; */
}@keyframes swipper{
    
    0%{     
        background-image: url('../images/bg-7.webp');
    }
    25%{
        background-image: url('../images/bg-3.jpg');
    }
    50%{
        background-image: url('../images/bg-1.jpg');

    }
    75%{
        background-image: url('../images/bg-2.jpg');

    }
}
.log-sign-body{
    width: 30rem;
    height: 25rem;
    background-color: lightblue;
    
}
.log-sign-window{
    
}
